@import "../../styles/global-styles.module.scss";

.loginContainerLightTheme {
  @extend .lightThemeLowest;
  display: flex;
  padding: 1.25rem 1rem 1rem;
  flex-direction: column;
  gap: 1.5rem;
  height: 100dvh;

  .logo {
    width: 7.5rem;
    height: 2.5rem;
    object-fit: cover;
  }
}

.loginContainerDarkTheme {
  @extend .darkThemeLowest;
}
