@import "../../global-styles/global-styles.module.scss";

.notificationContainer {
  display: inline-flex;
  flex-direction: column;
  padding: 0.9375rem 0.625rem;
  width: 31.25rem;
  gap: 0.9375rem;
  border: 0.0625rem dashed $neutral20;
}
