@import "../../../styles/global-styles.module.scss";

.textInputContainer {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  gap: 0.25rem;

  .labelLightTheme {
    @extend .t3Med;
    color: $neutral30;
    cursor: pointer;
  }

  .labelDarkTheme {
    color: $neutral95;
  }

  .inputContainer {
    position: relative;

    .inputLightTheme {
      @extend .lightThemeLowest;
      @extend .t3Reg;
      color: $neutral60;
      display: flex;
      padding: 0.75rem 1rem;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      border-radius: 0.25rem;
      border: 0.0625rem solid $neutral70;
      cursor: pointer;

      &::placeholder {
        color: $neutral60;
      }

      &:not(:focus):not(:disabled):hover {
        box-shadow: 0 0 0 0.25rem $primary90;
      }

      &:focus {
        outline: none;
        color: $neutral40;
        border: 0.0625rem solid $neutral20;
      }

      &:disabled {
        border: 0.0625rem solid $neutral90;
        background: $neutral90;
      }
    }

    .inputDarkTheme {
      color: $neutral70;
      border: 0.0625rem solid $neutral60;
      background-color: $neutral20;

      &::placeholder {
        color: $neutral70;
      }

      &:focus {
        outline: none;
        color: $neutral95;
        background-color: $neutral10;
        border: 0.0625rem solid $neutral95;
      }

      &:disabled {
        border: 0.0625rem solid $neutral40;
        background: $neutral40;
        color: $neutral80;
      }
    }

    .invalidIcon {
      position: absolute;
      top: 1rem;
      right: 1rem;
      pointer-events: none;
    }

    .inputInvalidLightTheme {
      border: 0.0625rem solid $alert40;
    }

    .inputInvalidDarkTheme {
      border: 0.0625rem solid $alert60;
    }

    .helperText {
      @extend .t4Reg;
      color: $neutral50;
      cursor: pointer;
    }

    .helperTextInvalidLightTheme {
      color: $alert40;
    }

    .helperTextInvalidDarkTheme {
      color: $alert60;
    }

    .disabledHelperText {
      color: $neutral60;
    }

    .disabledLabel {
      color: $neutral60;
    }
  }
}
