@import "../../../global-styles/global-styles.module.scss";

.navBtnGroupLightTheme {
  display: inline-flex;
  align-items: flex-start;
  border-radius: 0.5rem;
  border: 0.0625rem solid $neutral90;
  overflow: hidden;

  .btnLightTheme {
    @extend .t3Med;
    display: flex;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 0.0625rem solid $neutral90;
    background: $neutral100;
  }
}

.navBtnGroupDarkTheme {
  border: 0.0625rem solid transparent;

  .btnDarkTheme {
    border: 0.0625rem solid transparent;
    background: $neutral100;
  }
}
