@import "../../styles/global-styles.module.scss";

.quizLessonContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.625rem;

  .quizDetailsLightTheme {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.25rem;
    background: $badgeColorBack8;

    .totalQuestionsLightTheme,
    .timeDurationLightTheme,
    .passingScoreLightTheme {
      @extend .t3Reg;
      color: $neutral40;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .quizDetailsDarkTheme {
    background: $warning80;

    .totalQuestionsDarkTheme,
    .timeDurationDarkTheme,
    .passingScoreDarkTheme {
      color: $warning20;
    }
  }
}
