// scss variables

// color palette
// neutral - color palette
$neutral0: #000000;
$neutral10: #1b1c1f;
$neutral20: #303134;
$neutral30: #46474a;
$neutral40: #5e5f62;
$neutral50: #75777a;
$neutral60: #909194;
$neutral70: #aaacaf;
$neutral80: #c6c7ca;
$neutral90: #e2e3e6;
$neutral95: #f0f1f4;
$neutral99: #fbfcff;
$neutral100: #ffffff;

// primary - color palette
$primary0: #000000;
$primary10: #001b4c;
$primary20: #002a79;
$primary30: #003ba9;
$primary40: #004ddd;
$primary50: #0d62ff;
$primary60: #6299ff;
$primary70: #8cb4ff;
$primary80: #b4ceff;
$primary90: #dbe8ff;
$primary95: #eff5ff;
$primary99: #fbfcff;
$primary100: #ffffff;

// alert - color palette
$alert0: #000000;
$alert10: #7a271a;
$alert20: #912018;
$alert30: #b42318;
$alert40: #d92d20;
$alert50: #f04438;
$alert60: #f97066;
$alert70: #fda29b;
$alert80: #fecdca;
$alert90: #fee4e2;
$alert95: #fef3f2;
$alert99: #fffbfa;
$alert100: #ffffff;

// success - color palette
$success0: #000000;
$success10: #054f31;
$success20: #05603a;
$success30: #027a48;
$success40: #039855;
$success50: #12b76a;
$success60: #32d583;
$success70: #6ce9a6;
$success80: #a6f4c5;
$success90: #d1fadf;
$success95: #ecfdf3;
$success99: #f6fef9;
$success100: #ffffff;

// warning - color palette
$warning0: #000000;
$warning10: #7a2e0e;
$warning20: #93370d;
$warning30: #b54708;
$warning40: #dc6803;
$warning50: #f79009;
$warning60: #fdb022;
$warning70: #fec84b;
$warning80: #fedf89;
$warning90: #fef0c7;
$warning95: #fffaeb;
$warning99: #fffcf5;
$warning100: #ffffff;

// badge - color palette
// group - 1
$badgeColorBack1: #fce4ec;
$badgeColorMain1: #d81b60;

// group - 2
$badgeColorBack2: #f3e5f5;
$badgeColorMain2: #8e24aa;

// group - 3
$badgeColorBack3: #e0f7fa;
$badgeColorMain3: #3949ab;

// group - 4
$badgeColorBack4: #e3f2fd;
$badgeColorMain4: #1e88e5;

// group - 5
$badgeColorBack5: #e0f7fa;
$badgeColorMain5: #00acc1;

// group - 6
$badgeColorBack6: #e8f5e9;
$badgeColorMain6: #43a047;

// group - 7
$badgeColorBack7: #fffde7;
$badgeColorMain7: #fdd835;

// group - 8
$badgeColorBack8: #fff3e0;
$badgeColorMain8: #fb8c00;

// group - 9
$badgeColorBack9: #efebe9;
$badgeColorMain9: #6d4c41;
